<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.admin.model.dao.AdminDao">


<!--  전체 회원 수 조회  -->
<select id="selectMemberCount" resultType="_int">
 select count(*) from tbl_member
</select>


<!--  전체 회원 목록 조회  -->
<select id="selectMemberList" parameterType="PageInfo" resultType="Member">
 select member_no as memberNo,
  member_Id as memberId, member_name as memberName,
  member_phone as memberPhone, member_email as memberEmail,
   member_addr as memberAddr, member_birth as memberBirth,
    member_enroll_date as memberEnrollDate, member_level as memberLevel
 from 
 ( select rownum as rnum, a.* from 
 ( select * from tbl_member order by member_id ) a 
 ) a
  where rnum between #{start} and #{end} 
 </select>
 
 <!--  전체 단체 수 조회  -->
<select id="selectOrgCount" resultType="_int">
 select count(*) from tbl_org
</select>
 
 <!--  전체 단체 목록 조회  -->
<select id="selectOrgList" parameterType="PageInfo" resultType="Org">
 select org_no as orgNo, org_name as orgName, org_enroll_date as orgEnrollDate, org_status as orgStatus 
 from 
 ( select rownum as rnum, a.* from 
 ( select * from tbl_org order by org_status ) a 
 ) a
  where rnum between #{start} and #{end} 
 </select>
 
 </mapper>
 
 