<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.biz.model.dao.BizDao">


<!-- 전체 기부사업 게시글 수 조회 --> 
<select id="selectBoardCount" resultType="_int" parameterType="map">
    SELECT count(*)
    FROM tbl_donate_biz
    WHERE biz_status = 1
    <if test="categories != null and categories.size() > 0">
        AND donate_code IN
        <foreach collection="categories" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
    </if>
</select>

<!-- 기부 사업 리스트 조회 -->
<select id="selectDonateBizList" parameterType="map" resultType="Biz">
    SELECT biz_no AS bizNo,
           org_no AS orgNo,
           org_name AS orgName,
           donate_code AS donateCode,
           donate_ctg AS donateCtg,
           biz_name AS bizName,
           biz_content AS bizContent,
           biz_donate_start AS bizDonateStart,
           biz_donate_end AS bizDonateEnd,
           biz_start AS bizStart,
           biz_end AS bizEnd,
           biz_goal AS bizGoal,
           biz_status AS bizStatus,
           biz_reg_date AS bizRegDate,
           biz_edit AS bizEdit,
           biz_thumb AS bizThumbPath,
           donate_money AS donateMoney
    FROM (
        SELECT rownum rnum, a.*
        FROM (
            SELECT b.biz_no AS biz_no,
                   b.org_no AS org_no,
                   o.org_name AS org_name,
                   b.donate_code AS donate_code,
                   d.donate_ctg AS donate_ctg,
                   b.biz_name AS biz_name,
                   b.biz_content AS biz_content,
                   TO_CHAR(b.biz_donate_start, 'YYYY-MM-DD') AS biz_donate_start,
                   TO_CHAR(b.biz_donate_end, 'YYYY-MM-DD') AS biz_donate_end,
                   TO_CHAR(b.biz_start, 'YYYY-MM-DD') AS biz_start,
                   TO_CHAR(b.biz_end, 'YYYY-MM-DD') AS biz_end,
                   b.biz_goal AS biz_goal,
                   b.biz_status AS biz_status,
                   TO_CHAR(b.biz_reg_date, 'YYYY-MM-DD') AS biz_reg_date,
                   b.biz_edit AS biz_edit,
                   b.biz_thumb AS biz_thumb,
                   NVL((
                       SELECT SUM(d.donate_money)
                       FROM tbl_donation_list d
                       WHERE d.biz_no = b.biz_no
                   ), 0) AS donate_money
            FROM tbl_donate_biz b
            JOIN tbl_org o ON b.org_no = o.org_no
            JOIN tbl_donate_code d ON b.donate_code = d.donate_code 
            WHERE b.biz_status = 1
            	AND b.biz_end >= sysdate
            <if test="categories != null and categories.size() > 0">
                AND b.donate_code IN
                <foreach collection="categories" item="code" open="(" separator="," close=")">
                    #{code}
                </foreach>
            </if>
            ORDER BY b.biz_reg_date DESC
        ) a
    )
    WHERE rnum BETWEEN #{start} AND #{end}
</select>


<select id="selectDonateMoney" parameterType="string" resultType="Biz">
select sum(donate_money) AS donateMoney
	from tbl_donation_list
	where biz_no = #{parameter}
</select>


<!-- 한 개의 기부 게시글 정보 조회 -->
<select id="selectOneDonateBiz" parameterType="_int" resultMap="bizMap">
	select b.biz_no,
           b.org_no,
           o.org_name,
           o.org_introduce,
           o.org_thumb,
           b.donate_code,
           d.donate_ctg,
           b.biz_name,
           b.biz_content,
           TO_CHAR(b.biz_donate_start, 'YYYY-MM-DD') as biz_donate_start,
           TO_CHAR(b.biz_donate_end, 'YYYY-MM-DD') as biz_donate_end,
           TO_CHAR(b.biz_start, 'YYYY-MM-DD') as biz_start,
           TO_CHAR(b.biz_end, 'YYYY-MM-DD') as biz_end,
           b.biz_goal,
           b.biz_status,
           TO_CHAR(b.biz_reg_date, 'YYYY-MM-DD') as biz_reg_date,
           b.biz_edit,
           b.biz_thumb,
           NVL((
                SELECT SUM(d.donate_money)
                FROM tbl_donation_list d
                WHERE d.biz_no = b.biz_no
            ), 0) AS donate_money
		from tbl_donate_biz b
		JOIN tbl_org o ON b.org_no = o.org_no
		JOIN tbl_donate_code d ON b.donate_code = d.donate_code 
		where biz_no = #{_parameter}
</select>

<resultMap type="Biz" id="bizMap">
	<!-- SQL 조회 결과 컬럼을, type 속성에 작성된 DTO 클래스의 어느 변수에 바인딩할지 -->
		<result column="biz_no" property="bizNo"/>
		<result column="org_no" property="orgNo"/>
		<result column="org_name" property="orgName"/>
		<result column="org_thumb" property="orgThumbPath"/>
		<result column="org_introduce" property="orgIntroduce"/>
		<result column="donate_code" property="donateCode"/>
		<result column="donate_ctg" property="donateCtg"/>
		<result column="donate_money" property="donateMoney"/>
		<result column="biz_content" property="bizContent"/>
		<result column="biz_name" property="bizName"/>
		<result column="biz_donate_start" property="bizDonateStart"/>
		<result column="biz_donate_end" property="bizDonateEnd"/>
		<result column="biz_start" property="bizStart"/>
		<result column="biz_end" property="bizEnd"/>
		<result column="biz_goal" property="bizGoal"/>
		<result column="biz_status" property="bizStatus"/>
		<result column="biz_reg_date" property="bizRegDate"/>
		<result column="biz_edit" property="bizEdit"/>
		<result column="biz_thumb" property="bizThumbPath"/>
		
		<collection property="fileList"
					select="selectBizFileList"
					column="biz_no"
					javaType="java.util.List"
					ofType="BizFile">
		</collection>
		<collection property="bizMemberList"
					select="selectMemberList"
					column="biz_no"
					javaType="java.util.List"
					ofType="BizMember">
		</collection>
		<collection property="bizPlanList"
			   		select="selectPlanList"
			   		column="biz_no"
			   		javaType="java.util.List"
			   		ofType="BizPlan">
		</collection>
		
		
	</resultMap>
	
	<!-- 기부사업글에 대한 사용계획 리스트 조회 -->
	<select id="selectPlanList"
			parameterType="_int"
			resultType="BizPlan">
		select 	biz_plan_no as planNo,
				biz_plan_purpose as bizPlanPurpose,
				biz_plan_money as bizPlanMoney
			from tbl_biz_plan
			where biz_no = #{_parameter}
	</select>

	<!-- 게시글에 대한 파일 리스트 조회 -->
	<select id="selectBizFileList"
	 parameterType="_int"
	 resultType="BizFile">
		select f.file_no as fileNo,
			   f.pk_no as pkNo,
			   f.file_name as fileName,
			   f.file_path as filePath,
			   n.biz_no as bizNo
		from tbl_file f
		join tbl_no n on f.pk_no = n.pk_no
		where n.biz_no = #{_parameter}
	</select>
	
	<!-- 파일 1개 정보 조회 (첨부파일 다운로드)-->
	<select id="selectBizFile"
		    parameterType="_int"
		    resultType="BizFile">
	select file_no as fileNo,
			   pk_no as pkNo,
			   file_name as fileName,
			   file_path as filePath
		from tbl_file 
		where file_no = #{_parameter}
	</select>

<!-- 게시글에 대한 기부한 멤버 리스트 조회 -->
<select id="selectMemberList"
 parameterType="_int"
 resultType="BizMember">
	SELECT 
    	m.member_no AS memberNo,
    	m.member_id AS memberId,
        m.member_name AS memberName,
        TO_CHAR(m.member_birth, 'YYYY-MM-DD') AS memberBirth,
        m.member_phone AS memberPhone,
        l.donate_money AS donateMoney,
        TO_CHAR(l.donate_date, 'YYYY-MM-DD') AS donateDate
    FROM tbl_donation_list l
    JOIN tbl_donate_biz b ON l.biz_no = b.biz_no
    JOIN tbl_member m ON l.member_no = m.member_no
    WHERE l.biz_no = #{_parameter}
    order by donateDate
</select>

<!-- 검색 게시물 개수 조회 -->
<select id="selectSearchCount" parameterType="Keyword" resultType="_int">
	SELECT COUNT(*)
	FROM tbl_donate_biz b
	JOIN tbl_org o ON b.org_no = o.org_no
	WHERE b.biz_status = 1
	<choose>
		<when test="bizTitle != null and bizTitle != ''">
			AND b.biz_name LIKE '%' || #{bizTitle} || '%'
		</when>
		<when test="orgName != null and orgName != ''">
			AND o.org_name LIKE '%' || #{orgName} || '%'
		</when>
	</choose>
</select>


<!-- 검색 게시물 리스트 조회 -->
<select id="selectSearchBizList" parameterType="Keyword" resultType="Biz">
SELECT *
FROM (
    SELECT rownum rnum, a.*
    FROM (
        SELECT b.biz_no AS bizNo,
               b.org_no AS orgNo,
               o.org_name AS orgName,
               b.donate_code AS donateCode,
               d.donate_ctg AS donateCtg,
               b.biz_name AS bizName,
               b.biz_content AS bizContent,
               TO_CHAR(b.biz_donate_start, 'YYYY-MM-DD') AS bizDonateStart,
               TO_CHAR(b.biz_donate_end, 'YYYY-MM-DD') AS bizDonateEnd,
               TO_CHAR(b.biz_start, 'YYYY-MM-DD') AS bizStart,
               TO_CHAR(b.biz_end, 'YYYY-MM-DD') AS bizEnd,
               b.biz_goal AS bizGoal,
               b.biz_status AS bizStatus,
               TO_CHAR(b.biz_reg_date, 'YYYY-MM-DD') AS bizRegDate,
               b.biz_edit AS bizEdit,
               b.biz_thumb AS bizThumbPath
        FROM tbl_donate_biz b
        JOIN tbl_org o ON b.org_no = o.org_no
        JOIN tbl_donate_code d ON b.donate_code = d.donate_code 
        WHERE b.biz_status = 1
        <if test="bizTitle != null and bizTitle != ''">
            AND b.biz_name LIKE '%' || #{bizTitle} || '%'
        </if>
        <if test="(bizTitle == null or bizTitle == '') and orgName != null and orgName != ''">
            AND o.org_name LIKE '%' || #{orgName} || '%'
        </if>
        ORDER BY b.biz_reg_date DESC
    ) a
    WHERE rownum &lt;= #{pageInfo.end}
)
WHERE rnum &gt;= #{pageInfo.start}
</select>


<!-- 회원별 예치금 조회하기 -->
<select id="selectMemberMoney" parameterType="_int" resultType="BizMember">
select member_id AS memberId,
	   member_no AS memberNo,
	   member_name AS memberName,
	   total_money AS totalMoney
from tbl_member
where member_no = #{parameter}
</select>

<!-- 기부하기 -->
<insert id="bizDonate" parameterType="BizDonationList">
insert into tbl_donation_list 
	(donate_no, biz_no, member_no, donate_money)
    values 
    (seq_donate.nextval, #{bizNo}, #{memberNo}, #{donateMoney})
</insert>

<!-- 설문조사 질문 리스트 조회 -->
<select id="selectSurveyQuestion" resultType="SurveyQuestion">
select QUESTION_NO as questionNo,
	   QUESTION_CONTENT as questionContent,
	   QUESTION_WEIGHT as questionWeight
from tbl_survey_question
</select>

<!-- 설문조사 답변 등록 -->
	<insert id="regSurveyAnswer" parameterType="SurveyAnswer">
		insert into tbl_survey_answer
		(answer_no, question_no, member_no, biz_no, answer_score)
		values
		(seq_answer.nextval, #{questionNo}, #{memberNo}, #{bizNo}, #{answerScore})
	</insert>
	
	<!-- 사업 번호 조회 -->
	<select id="selectBizNo" resultType="_int">
		select seq_biz.nextval
		  from dual
	</select>

	<!-- 대표 사진 업로드 -->
	<update id="uploadThumb" parameterType="Biz">
		update tbl_donate_biz
		   set biz_thumb = #{bizThumbPath}
		 where biz_no = #{bizNo}
	</update>
	
	<!-- 기부 사업 등록 -->
	<insert id="insertBiz" parameterType="Biz">
		insert into tbl_donate_biz
		values (#{bizNo},
				#{orgNo},
				#{donateCode},
				#{bizName},
				#{bizContent},
				sysdate+7,
				sysdate+7+#{bizDonateTerm},
				#{bizStart},
				#{bizEnd},
				#{bizGoal},
				0,
				sysdate,
				'',
				'')
	</insert>
	
	<!-- 모금액 사용 계획 등록 -->
	<insert id="insertBizPlan" parameterType="BizPlan">
		insert into tbl_biz_plan
		values (seq_biz_plan.nextval,
				#{bizNo},
				#{bizPlanPurpose},
				#{bizPlanMoney})
	</insert>
	
<!-- 기부사업 상세 페이지 파일 등록 시 tbl_no의 pk_no 조회 -->	
	<select id="selectPk" parameterType="Biz" resultType="BizNo">
		select pk_no as pkNo from tbl_no where biz_no = #{bizNo}
	</select>
	
<!-- 파일 등록 -->
<insert id="insertBizFile" parameterType="BizFile">
	insert into tbl_file
	(file_no, pk_no, file_name, file_path)
	values
	(seq_file.nextval, #{pkNo}, #{fileName}, #{filePath})
</insert>

<!-- tbl_no 테이블 등록 -->
	<insert id="regPkNo" parameterType="_int">
		insert into tbl_no 
		(pk_no, biz_no)
		values
		(seq_pk_no.nextval, #{parameter})
	</insert>

	
	<!--  삭제 대상 파일 리스트 조회 -->
	<select id="selectDelBizFile" parameterType="map" resultType="BizFile">
	select file_no as fileNo,
		   pk_no as pkNo,
		   file_name as fileName,
		   file_path as filePath
	 from tbl_file
	 where file_no in
	 <foreach collection="array"
	 		  item="fileNo"
	 		  open="("
	 		  separator=","
	 		  close=")">
	 		  #{fileNo}
	 		  </foreach>
	</select>

<!-- 삭제 대상 파일 DB 삭제 -->
	 <delete id="deleteBizFile" parameterType="int[]">
	 delete from tbl_file
	 where file_no in 
	 	  <foreach collection="array"
	 	  		    item="fileNo"
	 	  		    open="("
	 	  		    separator=","
	 	  		    close=")">
	 	  			#{fileNo}
	 	  </foreach>	     
	 </delete>
	 
	 <!-- 기부사업글 삭제 요청 상태로 업데이트 -->
	 <update id="deleteBiz" parameterType="_int">
	 	update tbl_donate_biz
		   set BIZ_STATUS = 3
		 where biz_no = #{bizNo}
	 </update>
	 
	 <!-- 모금액 사용 계획 삭제 -->
	 <delete id="deleteBizPlans" parameterType="list">
	  DELETE FROM tbl_biz_plan
	  WHERE biz_plan_no IN
	  <foreach item="planNo" collection="list" open="(" separator="," close=")">
	    #{planNo}
	  </foreach>
	</delete>
	
	<!-- 모금액 사용 계획 수정 -->
	<update id="updateBizPlan" parameterType="BizPlan">
	update tbl_biz_plan
		   set BIZ_PLAN_PURPOSE = #{bizPlanPurpose},
		       BIZ_PLAN_MONEY = #{bizPlanMoney}
		 where biz_plan_no = #{planNo}
		</update>
	
	<!-- 기부 사업글 수정 -->
	<update id="updateBiz" parameterType="Biz">
	update tbl_donate_biz
		   set DONATE_CODE = #{donateCode},
		   	   BIZ_NAME = #{bizName},
		   	   BIZ_CONTENT = #{bizContent},
		   	   BIZ_START = #{bizStart},
		   	   BIZ_END = #{bizEnd},
		   	   BIZ_GOAL = #{bizGoal},
		   	   BIZ_REG_DATE = sysdate,
		   	   BIZ_THUMB = #{bizThumbPath}
		 where biz_no = #{bizNo}
	</update>
	
	<!-- 카테고리별 기부 사업 조회하기 -->
	<select id="selectBizByCategory" parameterType="_int" resultType="Biz">
	SELECT * FROM (
	select b.biz_no AS bizNo,
           b.org_no AS orgNo,
           o.org_name AS orgName,
           b.donate_code AS donateCode,
           d.donate_ctg AS donateCtg,
           b.biz_name AS bizName,
           b.biz_content AS biz_content,
           TO_CHAR(b.biz_donate_start, 'YYYY-MM-DD') AS bizDonateStart,
           TO_CHAR(b.biz_donate_end, 'YYYY-MM-DD') AS bizDonateEnd,
           TO_CHAR(b.biz_start, 'YYYY-MM-DD') AS bizStart,
           TO_CHAR(b.biz_end, 'YYYY-MM-DD') AS bizEnd,
           b.biz_goal AS bizGoal,
           b.biz_status AS bizStatus,
           TO_CHAR(b.biz_reg_date, 'YYYY-MM-DD') AS bizRegDate,
           b.biz_edit AS bizEdit,
           b.biz_thumb AS bizThumbPath,
           NVL((
               SELECT SUM(d.donate_money)
               FROM tbl_donation_list d
               WHERE d.biz_no = b.biz_no
           ), 0) AS donateMoney
    FROM tbl_donate_biz b
    JOIN tbl_org o ON b.org_no = o.org_no
    JOIN tbl_donate_code d ON b.donate_code = d.donate_code 
    WHERE b.biz_status = 1
    	AND b.biz_end >= sysdate 
    	AND b.DONATE_CODE = (select donate_code from tbl_donate_biz where biz_no=#{_parameter})
    	ORDER BY o.org_temperature DESC, b.biz_end
    )
	    WHERE ROWNUM &lt;= 2
	</select>
</mapper>
