<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.biz.model.dao.BizDao">


<!-- 전체 기부사업 게시글 수 조회 --> 
<select id="selectBoardCount" resultType="_int" parameterType="map">
    SELECT count(*)
    FROM tbl_donate_biz
    WHERE biz_status = 1
    <if test="categories != null and categories.size() > 0">
        AND donate_code IN
        <foreach collection="categories" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
    </if>
</select>

<!-- 기부 사업 리스트 조회 -->
<select id="selectDonateBizList" parameterType="map" resultType="Biz">
    SELECT biz_no AS bizNo, 
           org_no AS orgNo,
           org_name AS orgName,
           donate_code AS donateCode,
           donate_ctg AS donateCtg,
           biz_name AS bizName,
           biz_content AS bizContent,
           biz_donate_start AS bizDonateStart,
           biz_donate_end AS bizDonateEnd,
           biz_start AS bizStart,
           biz_end AS bizEnd,
           biz_goal AS bizGoal,
           biz_status AS bizStatus,
           biz_reg_date AS bizRegDate,
           biz_edit AS bizEdit,
           biz_thumb AS bizThumbPath,
           donate_money AS donateMoney
    FROM (
        SELECT rownum rnum, a.*
        FROM (
            SELECT b.biz_no AS biz_no,
                   b.org_no AS org_no,
                   o.org_name AS org_name,
                   b.donate_code AS donate_code,
                   d.donate_ctg AS donate_ctg,
                   b.biz_name AS biz_name,
                   b.biz_content AS biz_content,
                   TO_CHAR(b.biz_donate_start, 'YYYY-MM-DD') AS biz_donate_start,
                   TO_CHAR(b.biz_donate_end, 'YYYY-MM-DD') AS biz_donate_end,
                   TO_CHAR(b.biz_start, 'YYYY-MM-DD') AS biz_start,
                   TO_CHAR(b.biz_end, 'YYYY-MM-DD') AS biz_end,
                   b.biz_goal AS biz_goal,
                   b.biz_status AS biz_status,
                   TO_CHAR(b.biz_reg_date, 'YYYY-MM-DD') AS biz_reg_date,
                   b.biz_edit AS biz_edit,
                   b.biz_thumb AS biz_thumb,
                   NVL((
                       SELECT SUM(d.donate_money)
                       FROM tbl_donation_list d
                       WHERE d.biz_no = b.biz_no
                   ), 0) AS donate_money
            FROM tbl_donate_biz b
            JOIN tbl_org o ON b.org_no = o.org_no
            JOIN tbl_donate_code d ON b.donate_code = d.donate_code 
            WHERE b.biz_status = 1
            <if test="categories != null and categories.size() > 0">
                AND b.donate_code IN
                <foreach collection="categories" item="code" open="(" separator="," close=")">
                    #{code}
                </foreach>
            </if>
            ORDER BY b.biz_reg_date DESC
        ) a
    )
    WHERE rnum BETWEEN #{start} AND #{end}
</select>


<select id="selectDonateMoney" parameterType="string" resultType="Biz">
select sum(donate_money) AS donateMoney
	from tbl_donation_list
	where biz_no = #{parameter}
</select>


<!-- 한 개의 기부 게시글 정보 조회 -->
<select id="selectOneDonateBiz" parameterType="_int" resultType="Biz">
	select b.biz_no as bizNo,
           b.org_no as orgNo,
           o.org_name as orgName,
           b.donate_code as donateCode,
           d.donate_ctg as donateCtg,
           b.biz_name as bizName,
           b.biz_content as bizContent,
           TO_CHAR(b.biz_donate_start, 'YYYY-MM-DD') as bizDonateStart,
           TO_CHAR(b.biz_donate_end, 'YYYY-MM-DD') as bizDonateEnd,
           TO_CHAR(b.biz_start, 'YYYY-MM-DD') as bizStart,
           TO_CHAR(b.biz_end, 'YYYY-MM-DD') as bizEnd,
           b.biz_goal as bizGoal,
           b.biz_status as bizStatus,
           TO_CHAR(b.biz_reg_date, 'YYYY-MM-DD') as bizRegDate,
           b.biz_edit as bizEdit,
           b.biz_thumb as bizThumbPath
		from tbl_donate_biz b
		JOIN tbl_org o ON b.org_no = o.org_no
		JOIN tbl_donate_code d ON b.donate_code = d.donate_code 
		where biz_no = #{_parameter}
</select>

<!-- 검색 게시물 개수 조회 -->
<select id="selectSearchCount" parameterType="Keyword" resultType="_int">
	SELECT COUNT(*)
	FROM tbl_donate_biz b
	JOIN tbl_org o ON b.org_no = o.org_no
	WHERE b.biz_status = 1
	<choose>
		<when test="bizTitle != null and bizTitle != ''">
			AND b.biz_name LIKE '%' || #{bizTitle} || '%'
		</when>
		<when test="orgName != null and orgName != ''">
			AND o.org_name LIKE '%' || #{orgName} || '%'
		</when>
	</choose>
</select>


<!-- 검색 게시물 리스트 조회 -->
<select id="selectSearchBizList" parameterType="Keyword" resultType="Biz">
SELECT *
FROM (
    SELECT rownum rnum, a.*
    FROM (
        SELECT b.biz_no AS bizNo,
               b.org_no AS orgNo,
               o.org_name AS orgName,
               b.donate_code AS donateCode,
               b.biz_name AS bizName,
               b.biz_content AS bizContent,
               TO_CHAR(b.biz_donate_start, 'YYYY-MM-DD') AS bizDonateStart,
               TO_CHAR(b.biz_donate_end, 'YYYY-MM-DD') AS bizDonateEnd,
               TO_CHAR(b.biz_start, 'YYYY-MM-DD') AS bizStart,
               TO_CHAR(b.biz_end, 'YYYY-MM-DD') AS bizEnd,
               b.biz_goal AS bizGoal,
               b.biz_status AS bizStatus,
               TO_CHAR(b.biz_reg_date, 'YYYY-MM-DD') AS bizRegDate,
               b.biz_edit AS bizEdit,
               b.biz_thumb AS bizThumbPath
        FROM tbl_donate_biz b
        JOIN tbl_org o ON b.org_no = o.org_no
        WHERE b.biz_status = 1
        <if test="bizTitle != null and bizTitle != ''">
            AND b.biz_name LIKE '%' || #{bizTitle} || '%'
        </if>
        <if test="(bizTitle == null or bizTitle == '') and orgName != null and orgName != ''">
            AND o.org_name LIKE '%' || #{orgName} || '%'
        </if>
        ORDER BY b.biz_reg_date DESC
    ) a
    WHERE rownum &lt;= #{pageInfo.end}
)
WHERE rnum &gt;= #{pageInfo.start}
</select>

<!-- 특정 후원 사업에 기부한 회원 리스트 조회 -->
	<select id="selectDonateMember" parameterType="_int" resultType="BizMember">
    SELECT 
    	m.member_no AS memberNo,
    	m.member_id AS memberId,
        m.member_name AS memberName,
        TO_CHAR(m.member_birth, 'YYYY-MM-DD') AS memberBirth,
        m.member_phone AS memberPhone,
        l.donate_money AS donateMoney,
        TO_CHAR(l.donate_date, 'YYYY-MM-DD') AS donateDate
    FROM tbl_donation_list l
    JOIN tbl_donate_biz b ON l.biz_no = b.biz_no
    JOIN tbl_member m ON l.member_no = m.member_no
    WHERE l.biz_no = #{_parameter}
    order by donateDate
</select>

<!-- 회원별 예치금 조회하기 -->
<select id="selectMemberMoney" parameterType="_int" resultType="BizMember">
select member_id AS memberId,
	   member_no AS memberNo,
	   member_name AS memberName,
	   total_money AS totalMoney
from tbl_member
where member_no = #{parameter}
</select>

<!-- 기부하기 -->
<insert id="bizDonate" parameterType="BizDonationList">
insert into tbl_donation_list 
	(donate_no, biz_no, member_no, donate_money)
    values 
    (seq_donate.nextval, #{bizNo}, #{memberNo}, #{donateMoney})
</insert>

</mapper>
