<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.common.model.dao.CommonDao">

	<!-- 기부 카테고리 조회 (기타 제외) -->
	<select id="selectDonateCtg" resultType="DonateCode">
		select donate_code as donateCode,
			   donate_ctg as donateCtg
		  from tbl_donate_code
		 where donate_code != 'D99'
	</select>
	
	<!-- 회원별 안 읽은 알림 갯수 조회 -->
	<select id="countAlarm">
		select count(*) from tbl_alarm 
			where member_no = #{memberNo} and alarm_read = 0
	</select>
</mapper>
