<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.member.model.dao.MemberDao">
	<!-- 아이디 중복 체크 -->
	<select id="chkMemberId" parameterType="string" resultType="_int">
		select count(*)
		  from tbl_member
		 where member_id = #{memberId}
	</select>
	
	<!-- 회원 번호 조회 -->
	<select id="selectMemberNo" resultType="_int">
		select seq_member.nextval
		  from dual
	</select>

	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="Member">
		insert into tbl_member
		values (#{memberNo},
				#{memberId},
				#{memberPw},
				#{memberName},
				#{memberPhone},
				#{memberBirth},
				#{memberAddrMain},
				#{memberAddrDetail},
				#{memberEmail},
				2,
				sysdate,
				0,
				0,
				'')
	</insert>

	<!-- 회원 관심 카테고리 등록 -->
	<insert id="insertMemberDonation" parameterType="DonateCode">
		insert into tbl_member_donation
		values (#{donateCode},
				#{memberNo})
	</insert>
	
	<!-- 로그인 - 아이디로 회원 조회 -->
	<select id="memberLogin" parameterType="string" resultType="Member">
		select member_no as memberNo,
			   member_pw as memberPw,
			   member_level as memberLevel,
			   member_name as memberName
		  from tbl_member
		 where member_id = #{memberId} and member_deleted = 0
	</select>
	

	<!-- 회원번호로 회원 상세조회 -->
	<select id="selectMember"
	parameterType="_int"
	resultType="Member">
	select member_no as memberNo,
		   member_id as memberId,
		   member_pw as memberPw,
		   member_name as memberName,
		   member_phone as memberPhone,
		   to_char(member_birth, 'yyyy/mm/dd') as memberBirth,
		   member_email as memberEmail,
		   member_addr as memberAddr,
		   member_profile as memberProfile,
		   total_money as totalMoney,
		   (select sum(donate_money) from tbl_donation_list d where d.member_no = m.member_no
		   ) as totalDonateMoney
	  from tbl_member m
	 where member_no = #{memberNo} 		   
	</select>
	
	
	
	<!-- 회원 정보수정 -->
	<update id="updateMember"
	parameterType="Member">
	update tbl_member
	   set member_name = #{memberName},
	   	   member_phone = #{memberPhone},
	   	   member_birth = #{memberBirth},
	   	   member_Email = #{memberEmail},
	   	   member_addr = #{memberAddr}
	 where member_no = #{memberNo} 	   
	</update>
	
	<!-- 회원 관심 카테고리 조회 -->
	<select id="selectCategory"
	parameterType="_int"
	resultType="String">
	select donate_code as donateCode 
	  from tbl_member_donation
	 where member_no = #{member.memberNo}
	</select>
	
	<!-- 프로필 파일명 조회(서버저장용) -->
	<select id='selectProfile'
	parameterType="_int"
	resultType="String">
	select member_profile as memberProfile
	  from tbl_member where member_no = #{_parameter}
	</select>
	
	
	<!-- 회원 프로필 이미지 초기화 -->
	<update id="deleteProfile"
	parameterType="_int">
	update tbl_member
	   set member_profile = null
	 where member_no = #{_parameter} 	   
	</update>
	
	<!-- 회원 프로필 이미지 수정 -->
	<update id="updateProfile"
	parameterType="Member">
	update tbl_member
	   set member_profile = #{memberProfile}
	 where member_no = #{memberNo} 
	</update>
	
	<!-- 회원 기존 관심에서 제외된 카테고리 삭제 -->
	<delete id='delMemberCategory'
	parameterType="map">
	delete from	tbl_member_donation
	where member_no = #{memberNo} and
	donate_code in <foreach collection="delCtgList"
							item='donateCode'
							open="("
							separator=","
							close=")">
						#{donateCode}		
					</foreach>	  
	</delete>
	
	<!--회원 비밀번호 변경  -->
	<update id='updateMemberPw'
	parameterType="Member">
	update tbl_member
	   set member_pw = #{memberPw}
	 where member_no = #{memberNo} 
	</update>
	
	<!-- 회원 탈퇴: 탈퇴 여부(0 : 정상, 1 : 탈퇴) -> 회원의 기부 내역을 보존하고자
		member_deleted 0 -> 1
	 -->
	 <update id='deleteMember'
	 parameterType="_int">
	 update tbl_member
	    set member_deleted = 1,
	    	member_profile = null
	   where member_no = #{_parameter} 
	 </update>
	 
	 <!-- 회원별 알림 리스트 조회 -->
	 <select id="selectAlarmList" parameterType="string" resultType="Alarm">
	 select alarm_no as alarmNo,
	 		member_no as memberNo,
	 		biz_no as bizNo,
	 		news_no as newsNo,
	 		alarm_type as alarmType,
	 		alarm_date as alarmDate,
	 		alarm_read as alarmRead,
	 		biz_name as bizName,
	 		org_name as orgName
	 from tbl_alarm a
	 join tbl_donate_biz d on a.biz_no = d.biz_no
	 join tbl_org o on d.org_no = o.org_no
	 where member_no = #{parameter}
	 </select>
	

</mapper>
