<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.news.model.dao.NewsDao">
	<!-- 전체 소식글 개수 조회 -->
	<select id="selectNewsCount" resultType="_int">
		select count(*) from tbl_news
	</select>

	<!-- 소식 리스트 조회 -->
	<select id="selectNewsList" parameterType="PageInfo"
		resultType="News">
		select news_no as newsNo,
		member_no as memberNo,
		org_no as orgNo,
		news_name as newsName,
		news_content as newsContent,
		news_thumb as newsThumbPath,
		news_date as newsDate,
		read_count as readCount
		from(
		select rownum as rnum,
		a.*
		from (
		select *
		from tbl_news
		order by news_date desc
		)a
		)a
		where rnum between #{start} and #{end}
	</select>

	<!-- 한 개의 소식글 정보 조회 -->
	<select id="selectOneNews" parameterType="_int"
		resultType="News">
		SELECT n.news_no AS newsNo,
		n.member_no AS memberNo,
		n.org_no AS orgNo,
		n.news_name AS newsName,
		n.news_content AS newsContent,
		n.news_thumb AS newsThumbPath,
		n.news_date AS newsDate,
		n.read_count AS readCount,
		m.member_name AS memberName,
		o.org_name AS orgName  <!-- 추가된 부분 -->
		FROM tbl_news n
		JOIN tbl_member m ON n.member_no = m.member_no
		JOIN tbl_org o ON n.org_no = o.org_no  <!-- 추가된 JOIN -->
		WHERE n.news_no = #{_parameter}
	</select>

	<!-- 소식 게시글 번호 조회 -->
	<select id="selectNewsNo" parameterType="_int">
		select seq_news.nextval
		from dual
	</select>

	<!-- 소식 게시글 정보 등록 -->
	<insert id="insertNews" parameterType="News">
		insert into tbl_news (
		news_no,
		member_no,
		org_no,
		news_name,
		news_content,
		news_thumb,
		news_date
		)
		values (
		#{newsNo},
		1,
		<if test="orgNo != null or orgNo !=''">
			#{orgNo},
		</if>
		<if test="orgNo == null or orgNo == ''">
			null,
		</if>
		#{newsName},
		#{newsContent},
		#{newsThumbPath},
		sysdate
		)
	</insert>

	<!-- 단체명으로 단체 객체 조회하기 -->
	<select id="selectOneOrg" parameterType="string"
		resultType="NewsOrg">
		select org_no as orgNo,
		org_name as orgName
		from tbl_org
		where org_name LIKE '%'|| #{_parameter} ||'%'
	</select>

	<!-- 소식 글 정보 수정 -->
	<update id="updateNews" parameterType="News">
		update tbl_news
		set org_no = #{orgNo},
		news_name = #{newsName},
		news_content = #{newsContent}
		<if test="newsThumbPath != null and newsThumbPath !=''">
			,news_thumb = #{newsThumbPath}
		</if>
		where news_no = #{newsNo}
	</update>

	<!--  소식 글 삭제 -->
	<delete id="deleteNews" parameterType="_int">
		delete from tbl_news where news_no = #{_parameter}
	</delete>
	
	<!-- 소식 글에 달린 댓글 리스트 조회 -->
	<select id="selectCommentList" parameterType="_int" resultType="Comment">
	    SELECT c.comment_no AS commentNo,
	           c.member_no AS memberNo,
	           m.member_id AS memberId,
	           c.news_no AS newsNo,
	           c.comment_content AS commentContent,
	           c.comment_time AS commentTime,
	           c.comment_deleted AS commentDeleted
	    FROM tbl_comment c
	    JOIN tbl_member m ON c.member_no = m.member_no
	    WHERE c.news_no = #{_parameter} and c.comment_deleted = 0
	</select>
	
	<!-- 댓글 삭제 : 상태 삭제 상태로 업데이트 -->
	<update id="deleteComment" parameterType="_int">
		update tbl_comment
		set comment_deleted = 1
		where comment_no = #{_parameter}
	</update>
	
	<update id="updateComment" parameterType="Comment">
	update tbl_comment
		set comment_content = #{commentContent}
	    where comment_no = #{commentNo}
	</update>
</mapper>
