<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.org.model.dao.OrgDao">
	<!-- 아이디 중복체크 -->
	<select id="chkOrgId" parameterType="string" resultType="_int">
	select count(*)
	  from tbl_org
	 where org_id = #{orgId}
	</select>
	
	<!-- 단체 번호 조회 -->
	<select id="selectOrgNo" resultType="_int">
		select seq_org.nextval
		  from dual
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertOrg" parameterType="Org">
		insert into tbl_org
		values (#{orgNo},
				#{orgId},
				#{orgPw},
				#{orgName},
				#{orgBiznum},
				#{orgPhone},
				#{orgEmail},
				#{orgAddrMain},
				#{orgAddrDetail},
				#{orgIntroduce},
				#{orgAccount},
				#{orgAccountBank},
				sysdate,
				36.5,
				0,
				null,
				null)
	</insert>
	
	<!-- 단체 주요 카테고리 등록 -->
	<insert id="insertOrgDonation" parameterType="DonateCode">
		insert into tbl_org_donation
		values (#{donateCode},
				#{orgNo})
	</insert>
	
	<!-- 로그인 - 아이디로 회원 조회 -->
	<select id="orgLogin" parameterType="string" resultType="Org">
		select org_no as orgNo,
		       org_pw as orgPw,
		       org_name as orgName,
		       org_status as orgStatus
		  from tbl_org
		 where org_id = #{orgId}
	</select>
	
	<!-- 단체 1개 정보 조회 -->
	<select id="selectOneOrg" parameterType="_int" resultType="Org">
		select org_no as orgNo,
			   org_id as orgId,
		       org_name as orgName,
		       org_biznum as orgBiznum,
		       org_phone as orgPhone,
		       org_email as orgEmail,
		       org_addr_main as orgAddrMain,
		       org_addr_detail as orgAddrDetail,
		       org_introduce as orgIntroduce,
		       org_account as orgAccount,
		       org_account_bank as orgAccountBank,
		       org_temperature as orgTemperature,
		       org_thumb as orgThumbPath,
		       org_url as orgUrl,
		       org_status as orgStatus
		  from tbl_org
		 where org_no = #{orgNo}
	</select>
	
	<!-- 단체 주요 카테고리 조회 -->
	<select id="selectOrgDonation" parameterType="_int" resultType="string">
		select donate_code
		  from tbl_org_donation
		 where org_no = #{orgNo}
	</select>
	
	<!-- 단체 정보 수정 -->
	<update id="updateOrg" parameterType="Org">
		update tbl_org
		   set org_name = #{orgName},
		       org_biznum = #{orgBiznum},
		       org_phone = #{orgPhone},
		       org_email = #{orgEmail},
		       org_addr_main = #{orgAddrMain},
		       org_addr_detail = #{orgAddrDetail},
		       org_introduce = #{orgIntroduce},
		       org_account = #{orgAccount},
		       org_account_bank = #{orgAccountBank},
		       org_url = #{orgUrl}
		 where org_no = #{orgNo}
	</update>
	
	<!-- 단체 주요 카테고리 삭제 -->
	<delete id="deleteOrgDonation" parameterType="_int">
		delete from tbl_org_donation
		 where org_no = #{orgNo}
	</delete>

	<!-- 비밀번호 확인 -->
	<select id="checkPw" parameterType="_int" resultType="string">
		select org_pw as orgPw
		  from tbl_org
		 where org_no = #{orgNo}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePw" parameterType="Org">
		update tbl_org
		   set org_pw = #{orgPw}
		 where org_no = #{orgNo}
	</update>
	
	<!-- 단체 프로필 초기화(삭제) -> 삭제가 아닌 null로 변경 -->
	<update id="deleteThumb" parameterType="_int">
		update tbl_org
		   set org_thumb = null
		 where org_no = #{orgNo}
	</update>
	
	<!-- 단체 프로필 수정 -->
	<update id="updateThumb" parameterType="Org">
		update tbl_org
		   set org_thumb = #{orgThumbPath}
		 where org_no = #{orgNo}
	</update>
	
	<!-- 기부 사업 갯수 조회 -->
	<select id="selectBizCount" parameterType="Biz" resultType="_int">
		select count(*)
		  from tbl_donate_biz
		 where org_no = #{orgNo}
		 <choose>
		 	<when test="clickBtn != '' and clickBtn == 'ingBiz'">
		 		and biz_status = 1
		 		and biz_donate_end >= sysdate
		 	</when>
		 	<when test="clickBtn != '' and clickBtn == 'doneBiz'">
		 		and biz_status = 1
		 		and sysdate > biz_donate_end
		 	</when>
		 </choose>
	</select>
	
	<!-- 기부 사업 리스트 조회 -->
	<select id="selectBizList" parameterType="map" resultType="Biz">
		select biz_no as bizNo,
		       donate_code as donateCode,
		       biz_name as bizName,
		       to_char(biz_donate_start-7, 'YYYY-MM-DD') as bizEnrollDate,
		       to_char(biz_donate_start, 'YYYY-MM-DD') as bizDonateStart,
		       to_char(biz_donate_end,'YYYY-MM-DD') as bizDonateEnd,
		       to_char(biz_start, 'YYYY-MM-DD') as bizSatrt,
		       to_char(biz_end, 'YYYY-MM-DD') as bizEnd,
		       biz_goal as bizGoal,
		       biz_status as bizStatus,
		       a.rnum as rnum,
		       a.payout_status as payoutYN
		  from (select rownum rnum, a.*
				  from (select d.*, p.payout_status
						  from tbl_donate_biz d
						  left join tbl_admin_payout_history p
						    on d.biz_no = p.biz_no
						 where org_no = #{orgNo}
						 <choose>
						 	<when test="clickBtn != '' and clickBtn == 'ingBiz'">
						 		and biz_status = 1
						 		and to_char(biz_donate_end, 'YYYY-MM-DD') >= to_char(sysdate, 'YYYY-MM-DD')
						 	</when>
						 	<when test="clickBtn != '' and clickBtn == 'doneBiz'">
						 		and biz_status != 0
						 		and to_char(sysdate, 'YYYY-MM-DD') > to_char(biz_donate_end, 'YYYY-MM-DD')
						 	</when>
						 </choose>
						 order by biz_donate_start desc) a ) a
		 where rnum between #{start} and #{end}
	</select>
	
	<!-- 단체 아이디 찾기 -->
	<select id="selectOrgId" parameterType="Org" resultType="string">
		select org_id as orgId
		  from tbl_org
		 where org_name = #{orgName}
		   and org_email = #{orgEmail}
	</select>
	
	<!-- 단체 비밀번호 찾기 -->
	<select id="selectOrgPw" parameterType="Org" resultType="_int">
		select count(*)
		  from tbl_org
		 where org_id = #{orgId}
		   and org_email = #{orgEmail}
	</select>
	
	<!-- 임시 비밀번호로 변경 -->
	<update id="updateRandomPw" parameterType="Org">
		update tbl_org
		   set org_pw = #{orgPw}
		 where org_id = #{orgId}
	</update>
	
	<!-- 단체별 알림 리스트 조회 -->
	<select id="selectOrgAlarmList" parameterType="_int" resultType="OrgAlarm">
	  SELECT a.alarm_no AS alarmNo,
	         a.member_no AS memberNo,
	         a.biz_no AS bizNo,
	         b.biz_name AS bizName,
	         a.alarm_type AS alarmType,
	         a.alarm_date AS alarmDate,
	         a.alarm_read AS alarmRead
	    FROM tbl_alarm a
	    JOIN tbl_donate_biz b ON a.biz_no = b.biz_no
	   WHERE b.org_no = #{_parameter} and a.alarm_type not in (1,2,5)
	</select>
	
	<!-- 단체 알림 읽음 처리 -->
	<update id="updateAlarmRead" parameterType="_int">
		update tbl_alarm
		set alarm_read = 1
		where alarm_no = #{_parameter}
	</update>
	
	<!-- 탈퇴하기 페이지에서 조회할 기부 사업 리스트 -->
	<select id="selectIngBizList" parameterType="_int" resultType="Biz">
		select biz_name as bizName,
		       to_char(biz_donate_end, 'YYYY-MM-DD') as bizDonateEnd,
		       to_char(biz_end, 'YYYY-MM-DD') as bizEnd,
		       payout_status as payoutYN
		  from tbl_donate_biz d
		  left join tbl_admin_payout_history p
		    on d.biz_no = p.biz_no
		 where org_no = #{orgNo}
		   and biz_end >= sysdate
		   and biz_status = 1
		   and (payout_status is null or payout_status = 0)
		 order by biz_end
	</select>
	
	<!-- 탈퇴 신청 -->
	<update id="deleteOrg" parameterType="_int">
		update tbl_org
		   set org_status = 3
		 where org_no = #{orgNo}
	</update>
	
	<!-- 기부 사업 통계 -->
	<!-- 전체 기부 사업 갯수 -->
	<select id="selectAllBiz" parameterType="_int" resultType="_int">
		select count(*) from tbl_donate_biz where org_no = #{orgNo}
	</select>
	<!-- 미승인 기부 사업 갯수 -->
	<select id="selectNotApproveBiz" parameterType="_int" resultType="_int">
		select count(*) from tbl_donate_biz where org_no = #{orgNo} and biz_status = 0
	</select>
	<!-- 반려된 기부 사업 갯수 -->
	<select id="selectRejectBiz" parameterType="_int" resultType="_int">
		select count(*) from tbl_donate_biz where org_no = #{orgNo} and biz_status = 2
	</select>
	<!-- 승인된 기부 사업 갯수 -->
	<select id="selectApproveBiz" parameterType="_int" resultType="_int">
		select count(*) from tbl_donate_biz where org_no = #{orgNo} and biz_status = 1
	</select>
	<!-- 진행 중인 기부 사업 갯수 -->
	<select id="selectIngBiz" parameterType="_int" resultType="_int">
		select count(*) from tbl_donate_biz
		where org_no = #{orgNo} and biz_status = 1 and to_char(biz_donate_end, 'YYYY-MM-DD') >= to_char(sysdate, 'YYYY-MM-DD') 
	</select>
	<!-- 모금 종료된 기부 사업 갯수 -->
	<select id="selectDonateEndBiz" parameterType="_int" resultType="_int">
		select count(*) from tbl_donate_biz
		where org_no = #{orgNo} and biz_status = 1 and to_char(sysdate, 'YYYY-MM-DD') > to_char(biz_donate_end, 'YYYY-MM-DD') 
	</select>
	<!-- 사업 종료된 기부 사업 갯수 -->
	<select id="selectEndBiz" parameterType="_int" resultType="_int">
		select count(*) from tbl_donate_biz
		where org_no = #{orgNo} and biz_status = 1 and to_char(sysdate, 'YYYY-MM-DD') > to_char(biz_end, 'YYYY-MM-DD') 
	</select>
	<!-- 입금 처리된 기부 사업 갯수 -->
	<select id="selectPayEndBiz" parameterType="_int" resultType="_int">
		select count(*) from tbl_donate_biz left join tbl_admin_payout_history using (biz_no)
		where org_no = #{orgNo} and biz_status = 1 and payout_status = 1
	</select>
	<!-- 카테고리별 기부 사업 갯수 -->
	<select id="selectDonateCodeCnt" parameterType="_int" resultType="DonateCode">
		select donate_code as donateCode,
			   donate_ctg as donateCtg,
			   count(donate_code) as codeCount
	      from tbl_donate_code
	      left join tbl_donate_biz
	     using (donate_code)
	     where org_no = #{orgNo}
	       and biz_status = 1
	     group by donate_code, donate_ctg
	     order by donate_code
	</select>
	<!-- 기부 사업별 모금액 -->
	<select id="selectDonateMoneyList" parameterType="_int" resultType="Biz">
		select biz_goal as bizGoal,
			   sum(donate_money) as donateMoney
		  from tbl_donation_list
		  left join tbl_donate_biz
		 using (biz_no)
		 where org_no = #{orgNo}
		   and to_char(sysdate, 'YYYY-MM-DD') > to_char(biz_donate_end, 'YYYY-MM-DD')
		 group by biz_goal
	</select>
	
	<!-- 오늘 모인 기부금 -->
	<select id="selectTodayDonate" parameterType="_int" resultType="Biz">
		select sum(donate_money) as donateMoney
		  from tbl_donate_biz
		  left join tbl_donation_list
		 using (biz_no)
		 where org_no = #{orgNo}
		   and to_char(donate_date, 'YYY-MM-DD') = to_char(sysdate, 'YYYY-MM-DD')
	</select>
	<!-- 관심 회원 수 -->
	<select id="selectLikeMember" parameterType="_int" resultType="_int">
		select count(*)
		  from tbl_member_org
		 where org_no = #{orgNo}
	</select>
	<!-- 단체 주요 카테고리명 -->
	<select id="selectOrgCategory" parameterType="_int" resultType="string">
		select donate_ctg
		  from tbl_donate_code
		  left join tbl_org_donation
		 using (donate_code)
		 where org_no = #{orgNo}
	</select>
	<!-- 승인된 최근 기부 사업 리스트 5개 조회 -->
	<select id="selectCurrentBizList" parameterType="_int" resultType="Biz">
		select *
		  from (select rownum rnum, a.*
				  from (select biz_no as bizNo,
						       biz_name as bizName,
						       to_char(biz_donate_start, 'YYYY-MM-DD') as bizDonateStart,
						       to_char(biz_donate_end, 'YYYY-MM-DD') as bizDonateEnd,
						       to_char(biz_start, 'YYYY-MM-DD') as bizStart,
						       to_char(biz_end, 'YYYY-MM-DD') as bizEnd,
						       biz_goal as bizGoal,
						       sum(donate_money) as donateMoney,
						       payout_status as payoutYN
						  from tbl_donate_biz
						  left join tbl_donation_list
						 using (biz_no)
						  left join tbl_admin_payout_history
						 using (biz_no)
						 where org_no = #{orgNo}
						   and biz_status = 1
						 group by biz_no, biz_name, biz_donate_start, biz_donate_end, biz_start, biz_end, biz_goal, payout_status
						 order by bizDonateStart desc, bizDonateEnd desc) a )
		 where rnum between 1 and 5
	</select>


<!--  전체 단체 수   -->
	<select id="selectOrgCount" resultType="_int">
	 select count(*) from tbl_org
	 where org_status in (0,1,2)
	</select>
	
	
	
	
	
	
	
	
   <!--  전체 단체 목록 조회  -->
    <select id="selectOrgList" parameterType="PageInfo" resultType="Org">
	 select org_no as orgNo,
	        org_id as orgId,
	        org_name as orgName, 
	        org_biznum as orgBiznum,
	        org_phone as orgPhone,
            org_email as orgEmail, 
	        org_addr_main as orgAddrMain, 
	        org_addr_detail as orgAddrDetail, 
	        org_introduce as orgIntroduce,
	        org_account as orgAccount,
	        org_account_bank as orgAccountBank,
	        org_enroll_date as orgEnrollDate,
	        org_temperature as orgTemperature, 
	        org_url as orgUrl,
	        org_thumb as orgThumbPath,
	        org_status as orgStatus  
	 from 
		 ( select rownum as rnum, a.* 
		   from 
		 ( select * from tbl_org 
		 WHERE org_status IN (0, 1, 2)
		 order by org_status
		  ) a 
		 ) a
	 where rnum between #{start} and #{end} 
    </select>
    </mapper>
    