/*단체 마이페이지 메인*/
.org-main-wrap {
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.org-main-mid-wrap {
    width: 950px;
}

/*기부 사업 등록*/
.post-form {
    margin: 20px;
}
.post-form p {
    font-size: 12px;
}
.post-form>div {
    padding: 15px 0;
}
.post-form h3 {
    margin-bottom: 10px;
}
.biz-date {
    text-align: center;
}
.biz-date>div {
    margin-bottom: 5px;
}
.post-form h4 {
    line-height: 80px;
    margin: 0 7px;
}
.plan-purpose {
    width: 400px;
}
.plan-money {
    width: 150px;
    margin-left: 10px;
}

/*기부 사업 보기*/
.tbl-donate {
    width: 800px;
    border-spacing: 0;
    border-top: 3px solid #dcdcdc;
    border-bottom: 2px solid #dcdcdc;
    margin: 0 auto;
}
.tbl-donate th {
    height: 45px;
    border-bottom: 1px solid #dcdcdc;
}
.tbl-donate td {
    height: 45px;
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
}
.chgBtn {
    width: 80px;
}

/*기부 사업 통계*/
.data-wrap {
    width: 100%;
}
.data-wrap>div {
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;
}
.data-title {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}
.donate-data {
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 5px;
}
.donate-data>div {
    box-sizing: border-box;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    align-content: center;
    padding-left: 5px;
    height: 35px;
    font-size: 14px;
}
.donate-data>div:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid #dcdcdc;
}
.donate-data>div:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid #dcdcdc;
}
.span-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 0.5px solid black;
    border-radius: 30px;
    margin-left: 5px;
}

/*단체 정보 수정*/
.org-form {
    margin-top: 20px;
}
.tbl-org {
    width: 900px;
    margin: 0 auto;
    border-spacing: 0;
}
.tbl-org p {
    display: block;
    height: 15px;
    font-size: 12px;
}
.tbl-org .line {
    border-bottom: 1px solid #dcdcdc;
}
.orgBtn {
    width: 150px;
}
.tbl-org td>div {
    margin-top: 10px;
}
.tbl-org th {
    position: relative;
}
.tbl-org label {
    position: absolute;
    font-size: 20px;
    width: 100%;
    height: 100%;
    left: 5px;
    top: 5px;
    text-align: left;
}
.org-update-img>img:hover {
    cursor: pointer;
}


/*비밀번호 변경*/
.updPw-div {
    width: 500px;
    margin: 0 auto;
    margin-top: 130px;
}
.updPw-div-plus {
    width: 527px;
    margin: 0 auto;
    margin-top: 130px;
}
.updPw-div-plus p {
    font-size: 12px;
    color: red;
    height: 15px;
}

/*프로필 변경하기*/
.change-wrap {
    border: none;
    margin-top: 60px;
    text-align: center;
}
.change-title-wrap {
    height: 300px;
    border: 1px solid #dcdcdc;
}

/*탈퇴하기*/
.org-delete-wrap {
    width: 100%;
}
.org-delete-wrap>p {
    width: 800px;
    margin: 0 auto;
    font-size: 14px;
}

/*마이페이지 홈*/
.myPage-div {
    width: 800px;
    margin: 20px auto;
}


/* 후원 단체 리스트 */
.search-box input[type="submit"] {
    
    font-size: 14px;
    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.search-box input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    height: 34px;
}
.organization-list .posting-info {
    position: relative;
}
.organization-list .favorite-heart {
    position: absolute;
    right: 5px;
    top: 5px;
    color: red;
}
.org-ctg-span {
    border: 1px solid #007bff;
    border-radius: 20px;
    padding: 4px 10px;
    display: inline-block;
    color: #007bff;
    font-weight: 500;
}


/*상세 페이지*/
.org-view-wrap {
    width: 1200px;
    margin: 20px auto;
}
.org-thumb-image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-left: 20px;
}
.org-info-div {
    margin-left: 40px;
    width: 900px;
    position: relative;
}
.org-info-div * {
    text-align: center;
}
.org-info-div h2 {
    margin: 20px 0;
}
.org-temperature {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: left;
}
.org-view-wrap h3 {
    margin-bottom: 10px;
}
.org-intro-div {
    border: 1px solid #dcdcdc;
    padding: 8px;
    height: 65px;
}
.org-margin-div {
    margin-top: 20px;
}
.tbl-org-view {
    width: 100%;
    border-spacing: 0;
}
.tbl-org-view h3 {
    margin: 0 auto;
    width: 150px;
    text-align: left;
}
.tbl-org-view th,
.tbl-org-view td {
    height: 50px;
    border-bottom: 1px solid #dcdcdc;
}
.tbl-org-view tr:first-child>th,
.tbl-org-view tr:first-child>td {
    border-top: 2px solid #dcdcdc;
}
.tbl-org-view tr:last-child>th,
.tbl-org-view tr:last-child>td {
    border-bottom: 2px solid #dcdcdc;
}
.org-biz-img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 10px;
    margin-left: 30px;
}
.org-biz-div {
    margin: 0 20px;
    width: 950px;
}
.org-biz-div a {
    color: black;
}
.org-biz-div a:hover {
    text-decoration: underline;
}
.org-biz-div h3 {
    text-align: center;
    margin: 10px 0;
}
.org-biz-ctg {
    text-align: center;
}
.org-biz-progress {
    margin-top: 10px;
}
.org-biz-list {
    border: 1px solid #dcdcdc;
}
.org-biz-list>div {
    border-bottom: 1px solid #dcdcdc;
}
.org-biz-list>div:last-child {
    border-bottom: none;
}
.img-favorite-div {
    position: relative;
}
.img-favorite-div .favorite-heart{
    position: absolute;
    right: 15px;
    bottom: 5px;
    color: red;
    cursor: pointer;
}
.tbl-org-view a {
    color: black;
}
.tbl-org-view td {
    color: black;
}
.tbl-org-view a:hover {
    text-decoration: underline;
}