.member-main-wrap {
   width: 1200px;
   margin: 0 auto;
   margin-top: 30px;
   display: flex;
   justify-content: center;
   gap: 50px;


}
.member-main-mid-wrap {
    width: 850px;
  /*  border: 1px solid black; */
}
/* 사이드 메뉴 CSS */
.sidebar-wrap {
    width: 200px;
    border: 1px solid #dcdcdc;
  /*  background-color: #fafafa; */
}

.profile-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 180px;
    background-color: #848b91;
}

.profile-wrap>img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    background-color: white;
}

.profile-wrap p {
    color: white;
    font-size: 14px;
}

.profile-wrap-btm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 70px;
    background-color: #848b91;
    box-sizing: border-box;
    padding: 0px 10px;
}

.profile-wrap-btm>a{
    display:  flex;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.profile-wrap-btm>div{
    display: flex;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

/* 사이드메뉴에서 현재 메뉴 표시 */
.side-menu>a.active {
    color: #91C8E4;
    font-weight: bold;
}

/* 사이드메뉴(서브메뉴) 현제 메뉴 표시 */
.side-sub-menu>a.active {
    color: #91C8E4;
    font-weight: bold;
}

.side-menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px 20px;
}

.side-menu > a {
    color: #202020;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 1px solid #dcdcdc;
    padding: 15px 0px;
}

.side-sub-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.side-sub-menu > a {
    color: #828282;
    text-decoration: none;
}

/* MyHome */
.myHome-wrap {
    width: 100%;
    margin: 0 auto;
}
.myHome-wrap-top {
    display: flex;
    gap: 10px;
}
.top-info {
    width: 50%;
    height: 100px;
    padding: 15px 15px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-left > div:first-of-type {
    font-size: 23px;
}
.detail-right {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.donation-cnt {
    display: flex;
    gap: 30px;
    align-items: end;
    font-size: 20px;
}

.money>span:first-of-type{
    font-size: 30px;
    font-weight: bold;
}

.money>span:nth-of-type(2){
    font-size: 20px;
}

.myNews-wrap {
    margin-top: 30px;
}

.myNews-title-wrap {
    border-bottom: 1px solid #dcdcdc;
    height: 30px;
}

.myNews-title-wrap>span:first-of-type{
    font-size: 20px;
    margin-right: 10px;
}

.myNews-title-wrap>span:nth-child(3){
    font-size: 16px;
    margin-left: 10px;
}


.m-newsList-wrap>div>* {
    font-size: 16px;
}

.myNews-item {
    /*border: 1px solid black;*/
    position: relative;
    border-bottom: 1px solid #dcdcdc;
}


.m-newsList-wrap{
    width: 700px;
    align-items: center;
    /*
  display: grid; 
  grid-template-columns: repeat(3, 1fr); /* 3개씩 */
}
.m-newsList-wrap::before {
    position: absolute;
    content : "";
    border: 2px solid #dcdcdc;
    height: 100%;
    left: 30px;
}
.m-news-info {
    border: 1px solid #dcdcdc;
    height: 80px;
    position: relative;
    margin-top: 10px;   
    margin-bottom: 10px;
    z-index: 1;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.m-news-info::before {
    content: ""; /*::before 사용시 필수작성 */
    border:6px solid #91C8E4;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -35px;
    z-index: 2;
    
}

.mySurvey-wrap {
    margin-top: 30px;
}

.survey-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  background-color: #f9f9f9;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
}

.survey-card:hover {
  transform: translateY(-3px);

}

.chargeOrRefund-btn{
    display: flex;
    gap: 10px;
    align-items: center;
}
.chargeOrRefund-btn>*{
    width: 80px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
}

.charge-btn {
    background-color: #91C8E4;
    border: none;
    color: white;
}
.refund-btn {
    background-color: #dcdcdc;
    border: none;
}

/* 내 소식 */
.news-wrap{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.myNews-title {
    width: 100%;
    font-size: 25px;
}
.myNews-mid {
    margin: 20px 0;
    width: 90%;
    height: 80px;
    border: 1px solid #dcdcdc;

}

.newsList-wrap {
   position: relative;
}
.newsList-wrap::before {
    position: absolute;
    content : "";
    border: 2px solid #dcdcdc;
    height: 100%;
    left: 2px;
}

.news-info {
    border: 1px solid #dcdcdc;
    width: 700px;
    height: 100px;
    position: relative; 
    margin-left: 50px;  
    margin-bottom: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news-info::before {
    content: ""; /*::before 사용시 필수작성 */
    border:6px solid #91C8E4;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -53px;
    z-index: 2;
}


/* 관심기부단체 리스트 */
.likeOrgList-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* 관심기부단체 카드*/
.likeOrg-wrap {
    width: 250px;
    cursor: pointer;
    border: 1px solid #dcdcdc;
}

.likeOrg-wrap:hover {
    border: 1px solid #848b91;
}

.likeOrg-logo {
    position: relative;
    height: 150px;
    border: 1px solid #dcdcdc;
}

.org-ctg-wrap {
    display: flex;
    border: 1px solid black;
    
}
.org-ctg {
    border: 1px solid black;
}



.likeOrg-name {
    height: 100px;
    border: 1px solid black;
}


.member-donate-period{
    border: 1px solid black;
}

.likeOrg-logo  > img:first-of-type {
    width: 100%;
    height: 100%;
}

.likeOrg-name img {
    width: 10%;
}


/* 기부 내역 */
.donate-info-wrap {
    height: 150px;
    display: flex;
    
    align-items: center;
    border: 1px solid black;
}

.state-wrap {
    width: 10%;
}

.state {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #91C8E4;
    text-align: center;
    
}

.state>span {
    line-height: 80px;
    font-size: 15px;
    color: #91C8E4;
    font-weight: bold;
}

.donate-info {
    border: 1px solid black;
    width: 60%
}

.donate-money {
    width: 30%;
    text-align: right;
}



.profileImg-wrap>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* 결제내역 페이지 */
.history-wrap {
    display: flex;
    border: 1px solid black;
    gap: 30px;
}

/* 기간조회 필터창 */
.filter-wrap {
    display: flex;
    gap: 10px;
    
}
.filter-wrap > div {
    border: 1px solid black;
}


.account-info{
    display: flex;
    gap: 20px
}


/* 회원 수정 페이지 */
.update-frm-wrap {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.update-frm-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
}

.update-frm-content{
    width: 100%;
    border-top: 3px solid #dcdcdc;
    border-bottom: 3px solid #dcdcdc;
    padding: 15px;
    box-sizing: border-box;
    
}

.input-wrap {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0;
}

.input-title-wrap {
    width: 20%;
    font-weight: bold;
    font-size: 18px;
}

.input-content-wrap {
    width: 90%;
    height: 70px;
    padding-left: 10px;
}

.input-profile-wrap {
    height: 120px;
    display: flex;
    gap: 25px;
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
}

.profile-img{
    position: relative;
}

.profile-img::after{
    background-image: url('/images/camera_alt_30dp_FFFFFF.png');
    background-size: 80%;
    background-position: center;
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    left: 10px;
    background-color: #848B91;
    border-radius: 15px;
    left: 80px;
    top: 75px;
}

.profile-img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.profile-content>span{
    font-size: 18px;
    font-weight: bold;
}

.profile-btns{
    display: flex;
    gap: 5px;
}

.profile-btns > *{
    width: 50px;
    height: 30px;
}




.input-content-wrap>input{
    width: 60%;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #dcdcdc;
    font-size: 18px;
    margin-bottom: 5px;
}

.input-content-wrap>input:focus {
    border: 1px solid lightblue;
}

.input-addr-wrap {
    width: 90%;
    margin-left: 10px;
}

.input-addr-wrap>input {
    width: 80%;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 5px;
    outline: none;
    border: 1px solid #dcdcdc;
    height: 40px;
    font-size: 18px;
}

#memberAddrMain {
    background-color: #eeeeee;
}

#memberAddrDetail:focus {
    border: 1px solid lightblue;
}
#addr-btn {
    width: 100px;
    padding-left: 0px !important;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
}

.input-category-wrap{
    margin-top: 20px;
}
.category-wrap{
    display: flex;
    margin: 20px 20px;
}

.category-wrap>*{
    border: 1px solid #dcdcdc;
    width: 80px;
    height: 40px;
    font-size: 18px;
    margin-right: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.3s ease;
}
.input-category-title-wrap{
    margin-top: 10px;
    display: flex;
    align-items:  center;
    gap: 5px;
    font-size: 18px;
    font-weight: bold;
}

.chosed-category {
    background-color: lightblue;
    border: 1px solid lightblue;
    transition: background-color 0.2s ease, color 0.2s ease;
}


.update-btn-wrap>button {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    background-color: lightblue;
    border: none;
}

.delete-wrap {
   display: flex;
   justify-content:flex-end;
   align-items: center;
   gap: 10px;
   margin-top: 20px;
   font-size: 16px;
}

.delete-wrap a{
    width: 100%;
    color: black;
}
.delete-wrap>button{
    width: 65px;
    height: 30px;
}



/* 비밀번호 변경 */
.pwchange-wrap {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    width: 700px;
    margin: 50px auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pwchange-title{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
}

.pwRe-wrap {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pw-input-wrap {
    border: 1px solid #dcdcdc;
    width: 60%;
}


.pw-input-wrap >input {
    font-size: 18px;
}

.pwRe-wrap>div:first-of-type{
    border-bottom: none;
}


.pwchange-wrap input{
    height: 40px;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
}

.pwchange-wrap input:focus{
  border: 1px solid #91C8E4;
}

.update-pw-btn {
    width: 100%;
    font-size: 18px;
}

.pwRe-msg{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 13px;
    height: 15px;
}


.pwchange-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 20px;
    font-size: 13px;
}
.update-pw-btn {
    text-align: center;
    width: 60%;
}

.update-pw-btn>button {
    margin-top: 30px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    background-color: lightblue;
    border: none;
    cursor: pointer;
}

.invalid{
    color: #ff3d00;
}

.invalid::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("/images/icon_info_warning.svg");
    background-repeat: no-repeat;
    vertical-align: middle;
}

.pwRe-msg>p>img{
    width: 16px;
}
