.member-main-wrap {
   width: 1200px;
   margin: 0 auto;
   margin-top: 50px;
   display: flex;
   justify-content: space-between;

}
.member-main-mid-wrap {
    width: 950px;
    border: 1px solid black;
}
/* 사이드 메뉴 CSS */
.sidebar-wrap {
    width: 200px;
    border: 1px solid #dcdcdc;
    background-color: #fafafa;
}

.profile-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 180px;
    background-color: #848b91;
}

.profile-wrap>img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.profile-wrap p {
    color: white;
    font-size: 14px;
}

.profile-wrap-btm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 70px;
    background-color: #848b91;
    box-sizing: border-box;
    padding: 0px 10px;
}

.profile-wrap-btm>a{
    display:  flex;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.profile-wrap-btm>div{
    display: flex;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

/* 사이드메뉴에서 현재 메뉴 표시 */
.side-menu>a.active {
    color: #91C8E4;
    font-weight: bold;
}

/* 사이드메뉴(서브메뉴) 현제 메뉴 표시 */
.side-sub-menu>a.active {
    color: #91C8E4;
    font-weight: bold;
}

.side-menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px 20px;
}

.side-menu > a {
    color: #202020;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 1px solid #dcdcdc;
    padding: 15px 0px;
}

.side-sub-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.side-sub-menu > a {
    color: #828282;
    text-decoration: none;
}

.side-menu>a:last-of-type {
    border-top: 1px solid #dcdcdc;
    border-bottom: none;
}


.likeOrgList-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

/* 관심기부단체 카드*/
.likeOrg-wrap {
    width: 250px;
}

.likeOrg-logo {
    position: relative;
    height: 150px;
    border: 1px solid black;
}



.likeOrg-name {
    height: 100px;
    border: 1px solid black;
}


.member-donate-period{
    border: 1px solid black;
}

.likeOrg-logo  > img:first-of-type {
    width: 100%;
    height: 100%;
}



/* 기부 내역 */
.donate-info-wrap {
    height: 150px;
    display: flex;
    
    align-items: center;
    border: 1px solid black;
}

.state-wrap {
    width: 10%;
}

.state {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #91C8E4;
    text-align: center;
}

.state>span {
    line-height: 80px;
    font-size: 20px;
    color: #91C8E4;
    font-weight: bold;
}

.donate-info {
    border: 1px solid black;
    width: 60%
}

.donate-money {
    width: 30%;
    text-align: right;
}

.newsList-wrap {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}
.newsList-wrap::before {
    position: absolute;
    content : "";
    border: 2px solid #dcdcdc;
    height: 100%;
    left: 50px;
}


.news-info {
    border: 1px solid #dcdcdc;
    width: 850px;
    position: relative;   
    margin-bottom: 10px;
    z-index: 1;
}

.news-info::before {
    content: ""; /*::before 사용시 필수작성 */
    border:6px solid #91C8E4;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -53px;
    z-index: 2;
}

.profileImg-wrap>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}




/* 회원 수정 페이지 */
.update-frm-wrap {
    width: 600px;
}

.input-wrap {
    display: flex;
    border: 1px solid black;
}

.input-title-wrap {
    width: 20%;
}
.input-wrap > div{
    height: 80px;
}

.category-wrap {
    border: 1px solid black;
    display: flex;
    gap: 10px;
}

.category-name {
    border: 1px solid black;
    height: 50%;
    width: 20%;
    cursor: pointer;
}

.chosed-category {
    background-color: lightblue;
}

.update-frm-wrap input {
    width: 200px;
}
