/*페이지 전체*/
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    /* color: black; */
}

/*폰트적용*/
body {
  font-family: 'Pretendard', sans-serif;
  color: #333333;
}

/* header ver2  */
.header {
    border-bottom: 1px solid #dcdcdc ;
}

.header a {
    color: #333333;
}

.header a:hover {
    text-decoration: none !important;
    color: lightblue;
}
.header-top {
    height: 30px;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.header-list {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    padding-right: 80px;
    font-size: 13px;
}

.header-menu {
    margin: 0 auto;
}

.header-list a {
    line-height: 30px;
}

.main-menu {
    width: 1200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.sub-menu {
    position: absolute;
    display: none;
    z-index: 5;
    background-color: white;
    top: 41px;
}

.mypage-menu:hover>.sub-menu {
    display: block;
}


/*Hader 메뉴*/
.header-menu {
    width: 100%;
    border-top: 1px solid #dcdcdc;
}

.main-menu li {
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.mypage-menu {
    position: relative;
}
/*
.sub-menu {
    position: absolute;
    display: none;
    z-index: 5;
    background-color: white;
}
*/
.main-menu a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/*Main 화면*/
.wrap {
    min-height: 100vh;	
    display: flex;
    flex-direction: column; 
    min-width: 800px;
    position: relative;
}
.content {
  width: 100%; 
  max-width: 1400px;
  margin: 15px auto;
  flex: 1; 
}

/*Footer 부분*/
.footer {
  background-color: #f5f5f5;
}
.footer > div {
  max-width: 1200px;
  padding: 20px 10px;
  margin: 0 auto;
}
.footer ul {
  display: flex;
  gap : 30px;
}

.footer a {
   color: #333333;
}

.footer > div > p {
  margin: 10px 0px;
  font-size: 16px;
}


/*공통 부분*/
.section {
    width: 1200px;
    margin: 0 auto;
}
.page-title {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
#mui-btn {
    background-color: lightblue;
    color: black;
}
#mui-btn a {
    color: black;
}
#detail-btn {
    background-color: #999;
}

/*회원가입*/
/*회원가입 메인*/
.join-wrap {
    width: 650px;
    min-height: 600px;
    margin: 20px auto;
    border: 1px solid #999;
    border-radius: 50px;
}
.join-select {
    text-align: center;
    line-height: 450px;
}
.join-select>a {
    display: inline-block;
    background-color: #fff;
    width: 300px;
    height: 100px;
    line-height: 100px;
    border: 1px solid #999;
}
.join-select>a:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.join-select>a:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.join-select>a:hover {
    background-color: #007acc;
    color: #fff;
}

/*회원가입 입력 페이지*/
.join-form {
    margin-top: 20px;
}
.tbl-join {
    margin: 0 auto;
}
.label {
    display: block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: right;
    padding-right: 10px;
}
.tbl-join p {
    display: block;
    height: 15px;
    font-size: 12px;
}
.nextBtn {
    width: 150px;
}
.MuiInputBase-root {
    height: 35px;
}
.MuiInputBase-multiline {
    height: 125px;
}
.MuiButton-root {
    height: 34px;
}
.MuiSelect-root {
    width: 134px;
}
.MuiPaper-root {
    overflow-y: auto;
    max-height: 200px;
}
.MuiPopover-paper {
  max-height: 200px !important;
  overflow-y: auto !important;
}
.input-first {
    width: 420px;
}
.input-id {
    width: 325px;
}
.input-email {
    width: 134px;
}
.input-addr {
    width: 320px;
}
.input-account {
    width: 290px;
}
.MuiSelect-select {
    text-align: center;
}

/*회원가입-카테고리 선택*/
.section.category-select-wrap {
    width: 700px;
    min-height: 600px;
    display: block;
    margin: 20px auto;
    border: 1px solid #999;
    border-radius: 50px;
}
.select-ctg-wrap {
    width: 600px;
    margin: 0 auto;
    align-content: center;
}
.select-ctg-wrap>.select-ctg {
    width: 108px;
    height: 40px;
    line-height: 40px;
    float: left;
    margin: 10px 5px;
    padding: 10px 15px;
    border: 1px solid #999;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    text-align: center;
}
.section.category-select-wrap p {
    font-size: 14px;
    padding-left: 10px;
}

.select-ctg-wrap>.select-ctg {
    font-weight: bold;
}
.select-ctg-wrap>.select-ctg.active {
  background-color: lightblue;
  border-color: lightblue;
}
.key-up {
    text-align: right;
}

/*로그인*/
/*아이디 비번 찾기*/
.login-wrap {
    width: 650px;
    min-height: 500px;
    margin: 70px auto;
    border: 1px solid #999;
    border-radius: 50px;
}
.login-div {
    width: 467px;
    margin: 100px auto;
}
.search-div {
    width: 587px;
    margin: 100px auto;
}
.login-div>div,
.search-div>div {
    text-align: center;
}
.login-div>div>form,
.search-div>div>form {
    display: flex;
}
.login-label {
    display: block;
    width: 60px;
    height: 35px;
    line-height: 35px;
    text-align: right;
    padding-right: 10px;
}
.input-login {
    width:300px;
}